body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

button {
    background-color: rgb(128, 17, 138);
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 3%;
}

button:hover {
    background-color: rgb(44, 0, 102);
}

.body {
    display: flex;
    gap: 10%;
}

.header {
    background-color: rgb(128, 17, 138);
    color: white;
    width: 20%;
    min-height: 100vh;
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;


}

.ui {
    display: flex;
    gap: 10%;
    margin-bottom: 3%;
}

.canvas {
    border: 2px solid rgb(128, 17, 138);
    width: 560px;
    height: 560px;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 0;
    flex-shrink: 0;
}

.pixel {
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    opacity: 0%;
}

@media screen and (max-width: 800px) {
    .body {
    display: flex;
    flex-direction: column;
    gap: 10%;
}

    .header {
        min-height: fit-content;
        min-width: 100vw;
    }

    .ui {
        margin: 5%;
    }

    .canvas {
        width: 360px;
        height: 360px;
        margin: 5%;
    }
}